*{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    display: grid;
    grid-auto-flow:  dense;
    grid-template: "1fr 1fr 1fr 1fr 1fr" 33.33vh
                   "1fr 1fr 1fr 1fr 1fr" 33.33vh
                   "1fr 1fr 1fr 1fr 1fr" 33.33vh;
}
.container .box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.container .box.a,
.container .box.c,
.container .box.j{
    grid-column: span 2;
}
.container .box.d,
.container .box.g{
    grid-row: span 2;
}

.container .box.i{
    order: 5;
}
.container .box{
    position: relative;
    background: rgb(124, 124, 124);
}




@media screen and (max-width:1200px){
    .container{
        grid-template: "1fr 1fr 1fr 1fr" 300px
                       "1fr 1fr 1fr 1fr" 300px
                       "1fr 1fr 1fr 1fr" 300px
                       "1fr 1fr 1fr 1fr" 300px;
    }
    .container .box.b{
        order: 1;
    }
    .container .box.i{
        grid-column: span 2;
    }
}
@media screen and (max-width:900px){
    .container{
        grid-template: "1fr 1fr 1fr" 200px
                       "1fr 1fr 1fr" 200px
                       "1fr 1fr 1fr" 200px
                       "1fr 1fr 1fr" 200px
                       "1fr 1fr 1fr" 200px;
    }
    .container .box.i,
    .container .box.j{
        grid-column: span 1;
    }
    .container .box.h{
        grid-column: span 2;
    }
}